.itemWrapper{
    margin-top: 5em;
    .row{
        @media (max-width: 844px){
            justify-content: center;
        }
        
        .card{
            margin-bottom: 2em;
            width: 18em;
            @media (max-width: 768px){
                width: 100%;
            }
        }
    }
}