
.formChangeCard{
    @media (max-width: 768px){
        width: 100%;
    }
    .changeCard{
    
        .imgWrapper{
            margin-top: .8em;
            width: 12em;
            align-self: center;
        
            img{
                height: 18em;
            }
        }
        
        .list-group-change{
            .form-group {
                margin-bottom: 0rem !important;
            }
        }
        
    }
}